Dataset/boxplot_energy_comparison.png
Dataset/dataset iniziali e risultati/Boxplot_AVC_Geometric.png
Dataset/dataset iniziali e risultati/Boxplot_AVC_Labels.png
Dataset/dataset iniziali e risultati/Boxplot_Energy.png
